<%= form_for(@meal) do |f| %>
  <p>
    <%= f.label       :name %>
    <%= f.text_field  :name %>
  </p>
  <p>
    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
  </p>
  <p>
    <%= f.label       :cost_in_cents %>
    <%= f.text_field  :cost_in_cents %>
  </p>
  <p>
    <%= f.label       :servings %>
    <%= f.text_field  :servings %>
  </p>
  <p>
    <%= f.label       :image %>
    <%= f.file_field  :image %>
  </p>
  <p class="image-wrapper">
    <%= image_for(@meal) %>
  </p>
  <%= f.submit %>
  <%= link_to "Cancel", meals_path %>
<% end %>