<p id="notice"><%= notice %></p>

<h1>Plates</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Servings</th>
      <th>Cost per person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td>
          <% if meal.restaurant.present? %>
            <%= link_to meal.restaurant.name, meal.restaurant %>
          <% else %>
            <i>none</i>
          <% end %>
        </td>
        <td><%= meal.name %></td>
        <td><%= number_to_currency(meal.cost_in_dollars) %></td>
        <td><%= meal.servings %></td>
        <td><%= number_to_currency(meal.cost_per_serving) %></td>
        <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Delete', meal_path(meal), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Plate', new_meal_path %>