<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>
<div style="max-width: 25%;">
  <%= image_for(@meal) %>
</div>
<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@meal.cost_in_dollars) %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @meal.servings %>
</p>

<p>
  <strong>Cost Per Person:</strong>
  <%= number_to_currency @meal.cost_per_serving %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %> |
<%= link_to 'Delete', meal_path(@meal), method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to 'Review', new_meal_review_path(@meal) %>

<p>
  <strong>Reviews:</strong>
</p>
<% @meal.reviews.each do |r| %>
  <p>
    Rating: <%= r.rating %><br/>
    <%= r.description %>
  </p>
<% end %>
