<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_meal_review_path(@review) %> |
<%= link_to 'Back', meal_reviews_path %>
