%p#notice= notice
%p
  %strong Meal:
  = @title
%p
  %strong Description:
  = @review.description
%p
  %strong Rating:
  = @review.rating
= link_to 'Edit', edit_meal_review_path(@review)
|
= link_to 'Back', meal_reviews_path
